
html,body, #app, .main {
    height: 100%;
}

.top {
    transition: all 0.3s ease-in-out;
    height: 60px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.sidebar-wrap {
    flex: 0 0 260px;
}

.sidebar {
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 260px;
    background-color: #2B333E;
    position: fixed;
    left: 0;
    z-index: 2;
}

.sidebar-top {
    height: 60px;
    background-color: #fff;
}

.sidebar-top .brand img {
    max-height: 50px;
}

.sidebar .nav > li > a {
    padding: 18px 30px;
    color: #AEB7C2;
    border-left: 5px solid transparent;
}

.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
    color: #fff;
    background-color: transparent;
}

.main-wrap {
    padding-left: 0;
    padding-right: 0;
}

.main {
    background-color: #f5f5fa;
    padding: 10px 15px 40px 15px;
}

.main-head {
    min-height: 25px;
}

.content {
    background-color: #fff;
    padding: 15px;
}

